html {
  font-family: "made dillan";
}

.plants {
  font-size: 40px;
  color: rgb(255, 190, 64);
  position: fixed;
  left: 100px;
  top: 90px;
  right: 100px;
}

.nothppy {
  font-size: 40px;
  color: red;
  position: fixed;
  right: 100px;
  bottom: 90px;
}
