html {
  font-family: "helvetica";
  color: white;
  background: black;
}

li {
  font-size: 60px;
  list-style: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 60px;
  padding: 40px;
  padding-top: 80px;
}

  .face6 {
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 10px;
    width: 900px;
    filter: invert(100%);
  }
