html {
  background-color: white;
  font-family: helvetica;
  color: #1a1a1a;
}

h1 {
  font-size: 65px;
  text-align: left;
  margin: 0px;
  z-index: 2;
}

h2 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 2;
}

li {
  list-style: none;
  font-style: oblique;
  margin-bottom: 10px;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  z-index: 2;
}

.kaylin {
  background-color: ;
  position: absolute;
  width: 435px;
  top: 30px;
  left: 50px;
  z-index: 2;
}

.about {
  background-color: ;
  position: absolute;
  width: 435px;
  bottom: 50px;
  left: 50px;
  z-index: 2;
}

.aboutde {
  font-size: 16px;
  text-align: left;
  margin: 0px;
  z-index: 2;
}

.recentwork {
  background-color: ;
  position: absolute;
  width: 170px;
  top: 50px;
  left: 880px;
  margin: 0px;
  z-index: 2;
}

.other {
  background-color: ;
  position: absolute;
  width: 270px;
  top: 50px;
  right: 50px;
  margin: 0px;
  z-index: 2;
}

.rightaligned {
  text-align: right;
  margin-bottom: 20px;
  z-index: 3;
}

a:hover {
  color: red;
}

.face10 {
  position: fixed;
  z-index: 1;
  top: 170px;
  left: 100px;
  width: 600px;
}

.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 3;
}

.dropdown-content:hover {
  background-color: none;
}

.dropdown:hover .dropdown-content {
  background-color: none;
  display: block;
  position: relative;
}

.bottom-rightaligned {
  position: absolute;
  width: 270px;
  bottom: 50px;
  right: 50px;
  margin: 0px;
  z-index: 2;
}
