body {
  font-family: "helvetica";
  margin: 0;
}

.everything {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top_banner {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  border-bottom: 4px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.top_left {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  width: 33%;
  align-items: center;
}

.marquee {
  overflow: hidden;
  border: 0px solid #ccc;
  font-size: 30px;
  font-family: "helvetica";
}

.static {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  width: 67%;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.middle_section_1 {
  font-size: 60px;
  display: flex;
  flex-direction: row;
  height: 40%;
  /* background-color: pink; */
}

.middle_section_2 {
  font-size: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  height: 40%;
  /* background-color: orange; */
}

.images_top {
  width: 67%;
  align-self: center;
  justify-content: left;
  display: flex;
  /* background-color: blue; */
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}

.images_bottom {
  width: 100%;
  align-self: center;
  justify-content: left;
  display: flex;
  /* background-color: purple; */
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

img {
  height: 300px;
  margin: 20px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

img:hover {
  border-color: red;
}

.recent_work {
  /* background-color: tan; */
  font-size: 80px;
  display: flex;
  flex-direction: row;
  /* padding-left: 50px; */
  width: 33%;
  align-content: center;
  justify-content: center;
  padding-top: 25px;
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

h1 {
  align-self: center;
  text-align: left;
  /* padding: 10%; */
}

h2 {
  padding: 10px;
}

.bottom_banner {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 10%;
  align-items: center;
  border-top: 4px;
  border-top-color: black;
  border-top-style: solid;
}

/* @media screen and (max-width: 800px) {
  html {
    font-size: 200%;
  }

  .container {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }
} */
