html {
  font-family: "helvetica";
  background-color: rgb(227, 224, 224);
  color: rgb(48, 51, 56);
}

img {
  width: 300px;
}

.pandemicposters {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-bottom: 120px;
  padding-top: 15px;
  gap: 10%;
}

h1 {
  font-size: 65px;
  margin-bottom: 0px;
}

p {
  font-size: 17px;
  margin-top: 10px;
  width: 300px;
}

.title {
padding-left: 5px;
padding-right: 5px;
font-size: 22px
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 80px;
  }

.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  padding-bottom: 50px;
}

.physical {
  width: 800px;
  border-radius: 0px;
}

img:hover {
  filter: blur(5);
}

img {
  box-shadow: 0 0 5px rgb(208, 208, 208);
  border-radius: 25px;
}

.back {
  box-shadow: 0 0 5px rgb(208, 208, 208);
  border-radius: 25px;
  margin: 50px;
  margin-top: 130px;
}

/*larger screens come first, smaller screens need to be under larger screens*/
@media screen and (max-width: 1400px) {

  .pandemicposters {
      flex-direction: column;
  }

  .back {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

  }
}

/*larger screens come first, smaller screens need to be under larger screens*/
@media screen and (max-width: 700px) {
  img {
    width: 30vw;
  }

  .physical {
    width: 80vw;
    padding-left: 5%;
    padding-right: 5%;
  }

  .centered {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
  }

}
