html {
  font-family: "helvetica";
  color: black;
  background: white;
}

p {
  font-size: 30px;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8%;
  padding: 8%;
  padding-top: 8%;
}

img {
  height: 300px;
  border-color: black;
  border-style: solid;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;

}

.bioo {
  font-size: 20px;
}

.bio {
  width: 20%;
}

.squarel {
  width: 50px;
  height: 50px;
  background-color: ;
  box-shadow: 0 0 10px grey;
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 2;
  border-radius: 50%;
}

.squarel:hover {
  background-color: white;
}
