html {
  font-family: "helvetica";
  background-color: rgb(227, 224, 224);
  color: rgb(48, 51, 56);
}

img {
  width: 400px;
}

.pandemicposters {
  padding-left: 10%;
  padding-bottom: 120px;
  padding-top: 15px;
}

h1 {
  font-size: 65px;
  margin-bottom: 0px;
}

p {
  font-size: 17px;
  margin-top: 10px;
  width: 300px;
}

h2 {

}

/*div {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 80px;
}*/

.title {
padding-left: 5px;
padding-right: 5px;
font-size: 22px
}

.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  padding-bottom: 50px;
}

img:hover {
  filter: blur(5);
}

img {
  box-shadow: 0 0 5px rgb(208, 208, 208);
}
