html {
  font-family: "helvetica";
}

.title {
  padding-left: 10%;
  padding-bottom: 120px;
  padding-top: 15px;
}

h1 {
  font-size: 65px;
  margin-bottom: 0px;
}

p {
  font-size: 17px;
  margin-top: 10px;
  width: 600px;
}

.bricks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.italic {
  font-style: italic;
}

h2 {
  font-size: 22px
}

a {
  text-decoration: none;
  color: rgb(252, 199, 63);
  font-style: italic;
}

img {
  width: 900px;
  margin-bottom: 40px;
}
